.header {
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu-ic {
    display: none;
    color: white;
}
.red {
    color: maroon;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.toSplit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.switch-btn {
    display: flex;
    font-size: small;
    min-width: 400px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    border: 1px solid lightgray;
    border-radius: 50px;
}


.switch-btn p {
    font-size: 12px;
}
.header-row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    padding:10px;
}

.header-row2-left {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.hd-ic {
    margin-right: 5px;
    color: #e62e04;
}
.src-ic {padding: 10px;
    background-color: #e62e04;;
}
.input {

    width: 350px;
    border: 1px solid lightgray;
    margin-left: 20px;
    border-radius: 55px;
    padding: 9px;
    height: 50px;
    justify-content: space-around;
}

.header-row2-right {
    display: flex;
    width: 26%;
    list-style: none;
}

.header-row2-right li{
    margin: 10px 5px;
    display: flex;
}

.header-row2-right li p {
    font-size: 11px;
}
.header-row2-right li strong {
    white-space: nowrap;
}

.div-left {
    display: flex;
    align-items: center;
    position: relative;
    border-right: 1px solid rgb(109, 109, 109);
    padding-right: 15px;
    width: 35%;

}

.div-left p {
    font-size: 13px;
    color: rgb(81, 81, 81);
}

.div-left .p-n {
    white-space: nowrap;
    font-size: 9px;
    color: rgb(81, 81, 81);
}

.menu-ic-close {
    opacity: 0;
}
.menu-ic {
    opacity: 0;
}

.small-header {
    display: none;
}


@media (max-width:900px) {
    .header-row2 {
        display: none;
    }
    .header-row2-right {
        position: fixed;
        width: 300px;
        border-top-left-radius: 10px;
        background-color: rgb(141, 8, 70);
        height: 100vh;
        top: 0;
        flex-direction: column;
        z-index: 2;
        color: aliceblue;
        right: 0;
        padding-top: 30px;
    }
    .close {
        transition: .5s ease-in;
        transform: translateX(200%);
    }
    
    .open {
        transition: .5s ease-out;
        transform: translateX(0%);
    }
    .menu-ic-close {
        opacity: 1;
    }
    .menu-ic {
        opacity: 1;
        color: white;
    }
    .header-row2-right li {
        padding: 4px 6px;
        width: 150px;
        border-radius: 5px;
        transition: .3s ease;
    }
    .menu-ic-close{
        position: absolute;
        top: 10px;
        left: 10px;
        transition:transform .5s ease;
    }

    .menu-ic-close:hover {
        transition: .5s ease;
        transform: rotate(180deg);
    }
    .header-row2-right li:hover {
        background-color: white;
        color: rgb(141, 8, 70);
    }

    .header-row2-right li:hover > .hd-ic {
        color: rgb(141, 8, 70);
    }
    .hd-ic {
        color: white;
    }
    .menu-ic {
        display: flex;
        transition: all .3s ease;
        color: white;
    }
    .menu-ic:hover {
        transform: scale(1.1);
        transition: all .3s ease;
    }
    .header-row2 {
        justify-content: space-between;
    }
    .div-left .p-n {
        white-space: nowrap;
    }
    
.small-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 14px 0;
    position: relative;
}
.div-left-sm {
    font-size: 10px;
    display: flex;
    align-items: center;
}
.sm-r-l {
    background-color: rgba(141, 8, 70, 0.856);
    border-radius: 5px;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-r-r {
    background-color: rgba(141, 8, 70, 0.856);
    border-radius: 5px;
    transition: all .5s ease;
    padding: 5px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-right {
    display: flex;
    align-items: center;
}
.sm-search {
    color:  white;
    margin: 5px;
    transition: .5s ease;
}

.sm-r-l:hover {
    border-radius: 50%;
}



}

@media (max-width:500px) {
    .div-left p {
        font-size: 10px;
        color: rgb(81, 81, 81);
    }
    .div-left .p-n {
        font-size: 6px;
    }
    .header-row2 {
        justify-content: space-around;
    }
    
    .div-left .p-n {
        white-space: unset;
    }
    .sm-left {
        margin-left: -15px;
    }
}